<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>

<h1>Movies</h1>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Director</th>
        <th>Rating</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="movie : ${movies}">
        <td th:text="${movie.id}"></td>
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.description}"></td>
        <td th:text="${movie.director}"></td>
        <td th:text="${movie.rating}"></td>
        <td><a th:href="@{'edit-movie/' +${movie.id}}">Edit</a></td>
        <td><a th:href="@{'delete-movie/' +${movie.id}}">Delete</a></td>
    </tr>
</table>
<br>
<a href="/add-movie">Add New Movie</a>
<br>
<h1>Top 3 movies</h1>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Director</th>
        <th>Rating</th>
    </tr>
    <tr th:each="movie : ${top}">
        <td th:text="${movie.id}"></td>
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.description}"></td>
        <td th:text="${movie.director}"></td>
        <td th:text="${movie.rating}"></td>
    </tr>
</table>

</body>
</html>